.settings-main{
    display: flex;
    justify-content: center;
}
.img-content{
    display: flex;
}
.img-content img{
    width: 4rem;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 50%;
}
.settings{
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    
}
.account{
    background: #f7f8f9;
    width: 300px;
    height: 100vh;
    padding: 1rem;
}
hr{
    text-decoration: dashed;
}
.dashed-line {
    border-top: 1px dashed #999; 
    margin-top: 10px; 
}
@media screen and (max-width: 768px){
    .account{
        width: 100%;
        margin-left: -1rem;
    }
}
