.create{
    display: flex;
    justify-content: center;
}
.create-main{
    width: 300px;
    max-height: 100%;
    background: #f7f8f9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    overflow: hidden;
}
fieldset{
    border: none;
    border: 1px solid gray;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    color: #6c25ff;
}
input{
    border: none;
    outline: none;
    height: 20px;
    background: #f7f8f9;
    font-size: 1rem;
}
.radio input{
    width: 18px;
    height: 18px;
    position: absolute;
}
.radio label{
    padding: 2rem;
}
.form-main button{
    border: none;
    width: 300px;
    height: 45px;
    border-radius: 8px;
    background: #6c25ff;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    margin-top: 20%;
}
.radio{
    margin-top: 1rem;
}
.Agency{
    margin-bottom: 1rem;
}
.create-main h1{
    font-size: 24px;
    width: 200px;
}
@media screen and (max-width: 768px){
    .create-main{
        width: 100%;
        height: 100vh;
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    .already{
        display: flex;
        justify-content: center;
    }
}